*{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	background-color: #f0f0f0;
	width:100%;
	text-align:center;
}
#gameView {
	background-color:#d0d0d0;
}

#pleaseWaitBox{
  border-radius: 4px;
  font-size: 30px;
  border: thin solid black;
  background-color: lightblue;
  visibility: hidden;
 width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.buttonStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	padding: 5px;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 500px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}

#gameViewBoardShapes {
  stroke-linecap:round;
  stroke:purple;
}

#gameViewBoardShapes .boardShapeMain {
  stroke-width:4;
  stroke:purple;
}

#gameViewBoardShapes .boardShapeSmall {
  stroke-width:3;
  stroke:orange;
}

#gameView g .gameViewMarkedSubfield {
    fill:lightgreen;
    fill-opacity:0.5;
}

#gameViewBoarddecoration {
  stroke-width:3;
  stroke-linecap:round;
  stroke:black;
}
#gameViewBoarddecoration .boardDecorationOuter {
  stroke:#FCF9D6;
}